<div
   class="modal fade information-modal-strip"
   data-bs-backdrop="static"
   data-bs-keyboard="false"
   aria-hidden="true"
>
   <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
   >
      <div
         class="modal-content information-modal-content"
      >
         <div
            class="modal-header information-modal-header"
         >
            {header}
         </div>
         <div
            class="modal-body information-modal-body"
         >
            {body}
         </div>
         <div
            class="modal-footer information-modal-footer"
         >
            {selectionitems}
         </div>
      </div>
   </div>
</div>
