<li
   class="list-group-item sidebar-item"
>
   <div
      class="position-relative d-flex flex-column
         sidebar-item-container"
   >
      <div
         class="position-relative d-flex flex-row
            sidebar-internal-item activator-item-{tabname}"
      >
         <div
            class="position-relative d-flex flex-column
               sidebar-internal-item-button
               activator-{tabname}-button"
         >
            <img
               class="position-relative img-fluid ratio ratio-1x1
                  rounded sidebar-item-image"
               src="{tabimageurl}"
               alt="{cshorttabname}"
             />
         </div>
         <div
            class="position-relative d-flex flex-column
               sidebar-internal-item-container"
         >
            <div
               class="sidebar-internal-item-holder"
            >
               <ul
                  class="dropdown-menu dropdown-menu-dark
                     rounded sidebar-dropdown-menu"
               >
                  <li>
                     <h6
                        class="dropdown-header sidebar-dropdown-tab-info"
                     >
                        {ctabname}
                     </h6>
                  </li>
                  {subtabitems}
               </ul>
            </div>
         </div>
      </div>
   </div>
</li>
