<div
   class="offcanvas offcanvas-start navbar-offcanvas-strip"
   tabindex="-1"
   aria-labelledby="navbar-offcanvas-label"
>
   <div
      class="offcanvas-header"
   >
      <h5
         class="offcanvas-title navbar-offcanvas-title"
         id="navbar-offcanvas-label"
      >
         {title}
      </h5>
      <button
         type="button"
         class="btn-close btn-close-white"
         data-bs-dismiss="offcanvas"
         aria-label="Close"
      ></button>
   </div>
   <div
      class="offcanvas-body navbar-offcanvas-body"
   >
      <div
         class="accordion navbar-offcanvas-accordion"
      >
         {body}
      </div>
   </div>
</div>
