<!doctype html>
<HTML lang="en">
   <HEAD>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      
      <TITLE>WebApplication</TITLE>
      
      <base target="_blank">
      
      <link
         rel="stylesheet"
         href="../static/CSS/bootstrap.min.css"
      />
      <link
         rel="stylesheet"
         href="../static/CSS/WebApplication.home.css"
      />
      <script
         type="text/javascript"
         src="../static/JS/bootstrap.bundle.min.js"
      >
      </script>
      <script
         type="text/javascript"
         src="../static/JS/jquery-3.6.0.min.js"
      ></script>
   </HEAD>
   <BODY onload="brython(1)">
      <div
         class="w-100 h-100 position-absolute d-flex flex-column
            align-items-start d-print-none"
         id="main-div"
      >
         <div
            class="position-relative p-2 w-100 text-center d-flex flex-row
               justify-content-center align-items-center"
         >
            <div
               class="spinner-border text-light"
               role="status"
            >
            </div>
         </div>
         <div
            class="position-relative p-2 w-100 text-center"
         >
            Please wait while the data is being loaded ...
         </div>
         <div
            class="visually-hidden d-none init-data"
            style="display: none;"
         >
            <span
               id="app-url"
            >/webapplication/</span>
            <span
               id="static-url"
            >/static/</span>
            <span
               id="tab-name"
            ><!--tab to activate on start--></span>
            <span
               id="subtab-name"
            ><!--subtab to activate on start--></span>
         </div>
      </div>
      <script
         type="text/javascript"
         src="../static/JS/brython.min.js"
      ></script>
      <script
         type="text/javascript"
         src="../static/JS/WebApplication.Application1.SubApplication1.brython_modules.js"
      ></script><!--change src to load another app-->
      <script
         type="text/python"
         src="../static/WebApplication.py"
         id="__main__"
      ></script>
   </BODY>
</HTML>
